.ovl {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.ovl.active {
    visibility: visible;
    opacity: 1;
}

#popup1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.popup {

    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
}


.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}


@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

h1 {
    margin: 30px;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
}

header img {
    mix-blend-mode: darken;
}

.play {
    width: 50px;
    heigth: 50px;

}

.content-categ a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    border-radius: 50%;
    padding: 20px;
    color: white;
    font-size: 30px;
    width: 16px;
    height: 16px;
    margin-bottom: 0.5em;
}

.spanproject {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    border-radius: 50%;
    padding: 20px;
    color: white;
    font-size: 30px;
    width: 16px;
    height: 16px;
    margin-bottom: 0.5em;
}

.content-categ {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    align-content: center;
    left: 2em;
    bottom: 2em;
    height: 100%;
    position: absolute;

}


.full {
    margin: auto;
    height: 500px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    width: 100%;
    background: black;
}

.mail-home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
}

.mail {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 80px;
}


.big {
    width: 100%;
}

nav {
    padding-bottom: 20px;
    justify-content: space-evenly !important;

}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.profil {
    display: flex;
    width: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.clientimg {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    border-radius: 50%;
}

nav a, span {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    border-radius: 50%;
    padding: 20px;
    border: none;
    font-size: 30px;
    width: 16px;
    height: 16px;
    right: 0.5em;
    bottom: 0.5em;
    margin-top: 5px;

}

.align-left {
    text-align: start;
}

.back {
    position: absolute;
    left: 80px;
}


header {

    height: 100px;

}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    color: currentColor;

}

.pink {
    background: deeppink;
}

.blue {
    background: blue;
}

.container-two {
    width: 80%;
}

* {
    box-sizing: border-box;
}


.grid {
    margin: auto;
    width: 100% !important
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 20%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;

}

.grid-item img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item--width2 {
    width: 40%;
}

.grid-item--height2 {
    height: 300px;
}


.btn {

    background: blue;
    margin-block: 1em !important;
    margin-top: 2.5em !important;
}

@media screen and (max-width: 991px) {

    .grid-item {
        width: 25%
    }

    .grid-item--width2 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .back {
        top: -24px;
        left: -5px;
    }

    .grid-item {
        width: 30%;
    }

    .grid-item--width2 {
        width: 60%;
    }

}

@media screen and (max-width: 576px) {
    .mail {


        right: 0px;
    }

    p {
        font-size: 18px;
    }

    .grid-item {
        width: 100%;

    }

    .grid-item--width2 {
        width: 100%;
    }
}
